version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: ./backend/Dockerfile.backend
    image: mahesh1925/lms-backend:latest
    container_name: lms-backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    restart: always
    networks:
      - lms-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build:
      context: ./frontend
      dockerfile: ./frontend/Dockerfile.frontend
    image: mahesh1925/lms-frontend:latest
    container_name: lms-frontend
    ports:
      - "8082:80"
    restart: always
    depends_on:
      - backend
    networks:
      - lms-network

networks:
  lms-network:
    driver: bridge

